{% extends 'biblioteca/modelo.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %}
    <title>Histórico</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
</head>
<body>
    <div class="container mt-5">
        {% block content %}
        <h1 class="text-center my-4">Histórico de Empréstimos</h1>
        
        <div class="card">
            <div class="card-body">
                {% if object_list %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Data do Empréstimo</th>
                            <th scope="col">Data de Devolução</th>
                            <th scope="col">Livro</th>
                            <th scope="col">Status do Empréstimo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emprestimo in object_list %}
                        <tr>
                            <td>{{ emprestimo.data_emprestimo }}</td>
                            <td>{{ emprestimo.data_devolucao }}</td>
                            <td>{{ emprestimo.fk_livro }}</td>
                            <td>
                                {% if emprestimo.status == 'em_aberto' %}
                                Em aberto
                                {% elif emprestimo.status == 'solicitado' %}
                                Solicitado
                                {% else %}
                                Concluído
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3" class="text-center">Não há empréstimos cadastrados</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div class="alert alert-warning text-center" role="alert">
                    Não há empréstimos cadastrados.
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock %}
    </div>
   
</body>
</html>
